@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('/fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('/fonts/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('/fonts/OpenSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('/fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('/fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('/fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.chart {
  height: 450px;
}

.ant-modal-title {
  text-align: center;
}

.gradient-fade {
  background: linear-gradient(to bottom, rgba(1, 109, 57, 1), rgba(1, 109, 57, 0.63));
}

.partner-tabs {
  & > .ant-tabs-nav > .ant-tabs-nav-wrap {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #ece4e4;
    height: 52px;
    // padding: 0 20px;
    .ant-tabs-tab {
      background-color: white !important;
      border: none !important;
      &::after {
        content: '';
        height: 2px;
        position: absolute;
        bottom: 1px;
        left: 50%;
        right: 50%;
        background-color: #5c61f2;
        transition: all 0.3s ease-in-out;
      }
      &.ant-tabs-tab-active::after {
        left: 0;
        right: 0;
      }
    }
  }
}

.custom-scrollbar {
  @include scrollbars();
}
