.form-search {
  .ant-form-item {
    @apply mb-0 #{!important};
  }
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.ant-menu {
  @include scrollbars();
}

.ant-table-content {
  @include scrollbars(8px);
}

.ant-picker-disabled {
  @apply bg-zinc-100 #{!important};
}
